@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Qwitcher+Grypen&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style-type: none;
}

body{
    background-image: url(/assets/fondoChocolates2.jpg);

}



@media (min-width: 992px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
        text-decoration: none;
        list-style-type: none;
    }

    body{
        background-image: url(/assets/fondoChocolates.jpg) ;
        background-size: cover;   
    }

    header{
        background-color: rgba(228, 178, 105, 0.664);
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0px 30px 0px 30px;
        position: fixed;
        /* position: sticky; */
        top: 0;
    }

    .logo{
        height: 100%;
    } 

    .logoCarrito{
        height: 70%;
    }

    .navbar,
    .navbar-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        gap: 8px;
    }

    .navbar-list{
        gap: 150px;
    }

    .navbar-list a{
        color: rgb(255, 0, 0);
        font-family: 'Architects Daughter';
        font-size: 20px;
        font-weight: bold;

    }



    .navbar-list a:hover{
        text-shadow:2px 8px 8px rgb(77, 29, 2);
        
    }

    .cajaFlex{
        display: flex;
        justify-content: center;
        max-width: 800px 800px;
    }

    .back{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(rgb(71, 50, 50), rgba(209, 151, 151, 0.548));
        width:1000px;
        height:700px; 
    }

    .marca{
        color: black;
        margin-top: 0px;
        font-size: 150px;
        font-family:'Sacramento' ;
        display: flex;
        justify-content: center;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center  ;
        color: black;
        width: 100%;
    }

    #contenido{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }

    .info h1{
        font-size: 48px;
        width: 80%;
        min-width: 500px;
        font-weight: 800;
        color: rgb(124, 29, 29);
    }

    .info p{
        color:rgb(49, 9, 9);
        font-size: 20px;
        font-family: 'Architects Daughter';
    }

    .info p > span{
        font-weight: 800;
    }

    .info a {
        color: greenyellow;
        background-color: brown;
        width: 120px;
        padding: 8px 0px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
    }

    .choco-promocion {
        font-family: 'Architects Daughter';
        font-weight: bold;
        width: 300px;
        background: var(--secondary);
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .choco-promocion-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .choco-promocion-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    .choco-promocion-top h3 {
        font-weight: 600;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .choco-promocion-top span {
        background-color: gray;
        text-align: center;
        width: 50px;
        padding: 3px 0px;
        font-size: 14px;
        border-radius: 10px;
    }

    .choco-promocion-bottom {
        display: flex;
        justify-content: space-between;
    }

    .promo{
        border-style:groove;
        border-color: brown;
        border-width: 10px;
    }

    .choco-promocion-creador {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .choco-promocion-creador img {
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }

    .creador-info p:first-child,
    .choco-promocion-precio p {
        
        font-size: 12px;
        font-weight: 300;
    }

    .choco-promocion-precio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .choco-promocion-precio span,
    .creador-info p:last-child {
        font-size: 14px;
    }

    .choco-promocion-precio span {
        font-weight: 700;
    }

}