@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Qwitcher+Grypen&family=Sacramento&display=swap');

@media (max-width: 992px) {

  body{
    width: 100%;
    flex-wrap: wrap;
  }

  header{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    /* position: relative; */
    /* position: fixed;
    position: absolute;
    position: static; */
    position: sticky;
    top: 0;
  }
  .navbar {
   
    gap: 40px;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: var(--chocoLight);
    border: 2px solid var(--electric);
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }

  .navbar-list a {
    font-size: 18px;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    height: 50px;
    width: 50px;
  }

  .cart-icon {
    border: 0px solid;
    height: 40px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
/* ====================================================================================================================== */

    .logo{
        height: 100%;
    } 

    .logoCarrito{
        height: 70%;
    }

    .carrito {
        height: 36px;
        cursor: pointer;
      }
      
      .carritoCont {
        position: absolute;
        top: 65px; 
        right: 0;
        padding: 50px 30px;
        background-color:rgba(104, 23, 3, 0.836);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: calc(70vh - 65px);
        overflow-y: scroll;
        z-index: 2;
        display: none;
        font-family: 'Architects Daughter';
      }
      
      .carritoCont::-webkit-scrollbar {
        display: none;
      }
      
      .carritoCont h2 {
        color: var(--text-white);
        font-size: 20px;
        font-weight: 600;
      }
      
      .cart-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border: 1px solid var(--electric);
        border-radius: 10px;
        cursor: pointer;
      }
      
      .cart-item img {
        height: 65px;
        width: 65px;
      }
      
      .item-title {
        color: var(--text-white);
        font-weight: 600;
        font-size: 14px;
      }
      
      .item-bid {
        color: var(--text-gray);
        font-size: 12px;
        font-weight: 300;
      }
      
      .item-price {
        background-color: #f3f4f6;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        font-size: 20px;
        font-weight: 800;
      }
      
      .item-handler {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      
      .quantity-handler {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 8px;
        border-radius: 5px;
        color: var(--text-white);
        font-weight: 400;
      }
      
      .up {
        border: 1px solid var(--electric);
      }
      
      .down {
        background-color: var(--secondary);
        border: 1px solid var(--electric);
      }
      
      .item-quantity {
        color: var(--text-gray);
      }
      
      .divider {
        margin-top: 20px;
        border: 0.5px solid var(--electric);
      }
      
      .cart-total {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      
      .cart-total p {
        color: var(--electric);
        font-weight: 700;
      }
      
      .cart-total span {
        background-color: #f3f4f6 ;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        font-weight: 1000;
        font-size: 20px;
      }

      .btn-comprar{
          color: greenyellow;
          background-color: var(--choscuro);
          width: 120px;
          padding: 8px 0px;
          border-radius: 10px;
          border: 2px solid brown;
          font-size: 20px;
          text-align: center; 
      }

      .btn-comprar:hover {
        width: 130px;
        height: 45px;
      }
/* ====================================================================== */
    .cajaFlex{
      width: 100%;
        display: flex;      
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    .back{
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    .marca{
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
        background: linear-gradient( to bottom, var(--gradiente));
        margin-top: 100px;
        /* width: 900px; */
        border-radius: 1rem;
    }

    @keyframes moverCaja {
      0% {
          transform: translateX(0);
      }
      50%{
        transform: translate(-710px);
      }
      100% {
          transform: translateX(710px);
      }
  }

    .marcaCursiva{
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
        color: var(--chocoIntermedio);
        margin-top: 0px;
        font-size: 150px;
        font-family:'Sacramento' ;
        display: flex;
        justify-content: center;
        animation-name: moverCaja;
        animation-duration: 1.3s;          
        animation-iteration-count: 2;
        animation-direction: alternate;
    }

    main{
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
        display: flex;
        flex-wrap: wrap;

        color: black;

    }

    #descripcion{
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
        display: flex;
        /* justify-content: center; */
    }

    .info{
      /* width: 100%; */
 
        display: flex;

        gap: 20px;
        width: 50%;
    }
  
    #choco-promocion1{
      display: none;
    }

    #adicional{
      background: linear-gradient(to top, var(--gradiente));
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 1rem;
      
    }
    #Adicional h2{
      color: var(--chocoLight);
    }
    
    .Ad{
      width: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;;
      
    }
    
    .chocoD {    
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Architects Daughter';
      font-size: 25px;
      text-align: center;
      border-radius: 1rem;
      width:100%;
      height:450px;
    }
    
    .chocoD p {
      font-weight: bold;
      width: 600px;
      text-align: center;
    }
    
    #sp1{
      display: none;
    }
    
    #sp2{
      display: flex;
    }
    
    #t1{
      display: none;
    }
    
    #t2{
      display: flex;
      color: var(--chocoLight);
    }
    
    .nose{
      display: flex;
      width: 100%;
    }

    .AdCajas {
      width: 100%;
      background: linear-gradient(to top, var(--gradiente));
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      height: 250px;
      border-radius: 1rem;
    
    }
    
    .cajas {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 55px;
      justify-content: center;
      align-items: center;
    }
    
    .cajitas{
      background:linear-gradient(var(--chocoGrad));
      font-family: 'Architects Daughter';
      font-size: 15px;
      font-weight: bold;
      display: flex;
      align-items: center;;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 1rem;
    }
    
    .cajitas p {
    color: darkred;
    }
    
    
    .imgCuad {
      width: 150px;
      height: 150px;
      border-radius: 1rem;
    }
    
    
    #contenido-contacto{
    width: 100%;
    display: flex;
    justify-content: center;
    }
    
    .cuadroContacto{
    background: linear-gradient(to top, var(--gradiente));
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 400px;
    border-radius: 1rem;
    justify-content: space-around;
    }
    
    .logCont{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 1rem;
    }
    
    .mapa{
    width: 300px;
    height: 345px; 
    border-radius: 10px;
    }
    
    .info-contacto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    }
    
    .info-contacto h1{
    margin-top: 0px;
    font-size: 48px;
    font-family: 'Architects Daughter';
    font-weight: 800;
    color: var(--choscuro)
    }
    
    .info-contacto p{
    color: black;
    font-size: 20px;
    font-family: 'Architects Daughter';
    font-weight: bold;
    }
    
    
    .contacto{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    }
    
    .contacto :hover{
    height: 20%;
    font-size: 30px;
    }
    
    .cuadroMapa{
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}

/* ################################################################################################################################################ */
@media(max-width:900px) {


  .marca{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
      background: linear-gradient( to bottom, var(--gradiente));
      margin-top: 100px;
      border-radius: 1rem;
  }

  @keyframes moverCaja {
    0% {
        transform: translateX(0);
    }
    50%{
      transform: translate(-710px);
    }
    100% {
        transform: translateX(710px);
    }
}

  .marcaCursiva{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
      color: var(--chocoIntermedio);
      margin-top: 0px;
      font-size: 150px;
      font-family:'Sacramento' ;
      display: flex;
      justify-content: center;
      animation-name: moverCaja;
      animation-duration: 1.3s;          
      animation-iteration-count: 2;
      animation-direction: alternate;
  }

  main{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
      display: flex;
      flex-wrap: wrap;

      color: black;

  }

  .back{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
  
  }
  
  #descripcion{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    height: 100%; 
  }
  
  .info{
    width: 100%;
    display: flex;
    align-items: center;
  
  }
  
  .info p{
    width: 100%;
    margin-top: auto;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
  }
  

  .choco-promocion{
    display: none;
  }

  .choco-promocion1{
    margin-top: 20px;
    font-family: 'Architects Daughter';
    font-weight: bold;
    width: 100%;
    background: linear-gradient(to top, var(--gradiente));
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  
  }

  .choco-promocion-info1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .choco-promocion-top1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  
  .choco-promocion-top1 h3 {
    font-weight: 600;
    font-size: 45px;
    white-space: nowrap;
  }
  
  
  
  .choco-promocion-bottom1 {
    width: 100%;
    align-items: center;
    text-align: center;
    /* display: flex; */
    font-size: 35px;
  }
  
  .choco-promocion-bottom1 span{
  color: whitesmoke;
  background-color: black;
  font-size: 45px;
  border-radius: 4px;
  } 

  .promo{
    /* width: 100%; */
    width: 500px;
    height: 500px;
    border-style:groove;
    border-color: brown;
    border-width: 10px;
    border-radius: 1rem;
  }
  .btn-comprar1{
    display: none;
  }
  .btn-comprar2{
    display: flex;
    color: greenyellow;
    background-color: var(--choscuro);
    width: 400px;
    padding: 8px 0px;
    border-radius: 10px;
    border: 2px solid brown;
    font-size: 40px;
    text-align: center; 
    justify-content: center;
  }

  #adicional{
    background: linear-gradient(to top, var(--gradiente));
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1rem;
    
  }
  #Adicional h2{
    color: var(--chocoLight);
  }
  
  .Ad{
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;;
    
  }
  
  .chocoD {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Architects Daughter';
    font-size: 25px;
    text-align: center;
    border-radius: 1rem;
    width:100%;
    height:450px;
  }
  
  .chocoD p {
    font-weight: bold;
    width: 600px;
    text-align: center;
  }
  
  #sp1{
    display: none;
  }
  
  #sp2{
    display: flex;
  }
  
  #t1{
    display: none;
  }
  
  #t2{
    display: flex;
    color: var(--chocoLight);
  }
  
  .AdCajas {
    width: 100%;
    background: linear-gradient(to top, var(--gradiente));
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 250px;
    border-radius: 1rem;
  
  }
  
  .cajas {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .cajitas{
    background:linear-gradient(var(--chocoGrad));
    font-family: 'Architects Daughter';
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;;
    justify-content: center;
    width: 175px;
    height: 175px;
    border-radius: 1rem;
  }
  
  .cajitas p {
  color: darkred;
  }
  
  .cajitas:hover{
    background:linear-gradient(var(--chocoGrad));
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 230px;
    border-radius: 1rem;
    cursor: pointer;
    
  }
  
  .imgCuad {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
  }
  
  
  #contenido-contacto{
  width: 100%;
  display: flex;
  justify-content: center;
  }
  
  .cuadroContacto{
  background: linear-gradient(to top, var(--gradiente));
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  justify-content: space-around;
  }
  
  .logCont{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 1rem;
  }
  
  .mapa{
    display: flex;
  width: 100%;
  height: 100%; 
  border-radius: 10px;
  }
  
  .info-contacto{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  }
  
  .info-contacto h1{
  margin-top: 0px;
  font-size: 35px;
  font-family: 'Architects Daughter';
  font-weight: 800;
  color: var(--choscuro)
  }
  
  .info-contacto p{
  color: black;
  font-size: 18px;
  font-family: 'Architects Daughter';
  font-weight: bold;
  }
  
  
  .contacto{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  }
  
  .contacto :hover{
  height: 20%;
  font-size: 30px;
  }
  
  .cuadroMapa{
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}

/* ################################################################################################################################################ */

@media (max-width: 576px) {
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }


  .carritoCont {
    position: absolute;
    top: 65px; 
    right: 0;
    padding: 50px 30px;
    background-color:rgba(104, 23, 3, 0.836);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(70vh - 50px);
    overflow-y: scroll;
    z-index: 2;
    display: none;
    font-family: 'Architects Daughter';
  }

/* ============================= */

.marca{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
    background: linear-gradient( to bottom, var(--gradiente));
    margin-top: 100px;
    border-radius: 1rem;
}

@keyframes moverCaja {
  0% {
      transform: translateX(0);
  }
  50%{
    transform: translate(-710px);
  }
  100% {
      transform: translateX(710px);
  }
}

.marcaCursiva{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
    color: var(--chocoIntermedio);
    margin-top: 0px;
    font-size: 100px;
    font-weight: 900;
    font-family:'Sacramento' ;
    display: flex;
    justify-content: center;
    animation-name: moverCaja;
    animation-duration: 1.3s;          
    animation-iteration-count: 2;
    animation-direction: alternate;
}

main{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
    display: flex;
    flex-wrap: wrap;

    color: black;

}

.cajaFlex{
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;

}

.back{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;

}

#descripcion{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
  height: 100%; 
}

.info{
  width: 100%;
  display: flex;
  align-items: center;

}

.info h1{
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.info p{
  width: 100%;
  margin-top: auto;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
}


.choco-promocion{
  display: none;
}

.choco-promocion1{
  margin-top: 20px;
  font-family: 'Architects Daughter';
  font-weight: bold;
  width: 100%;
  background: linear-gradient(to top, var(--gradiente));
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

}
.promo{
  /* width: 100%; */
  width: 350px;
  height: 350px;
  border-style:groove;
  border-color: brown;
  border-width: 10px;
  border-radius: 1rem;
}

.choco-promocion-info1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.choco-promocion-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.choco-promocion-top1 h3 {
  font-weight: 600;
  font-size: 35px;
  white-space: nowrap;
}



.choco-promocion-bottom1 {
  width: 100%;
  align-items: center;
  text-align: center;
  /* display: flex; */
  font-size: 25px;
}

.choco-promocion-bottom1 span{
color: whitesmoke;
background-color: black;
font-size: 30px;
border-radius: 4px;
} 

.btn-comprar1{
  display: none;
}
.btn-comprar2{
  display: flex;
  color: greenyellow;
  background-color: var(--choscuro);
  width: 350px;
  padding: 8px 0px;
  border-radius: 10px;
  border: 2px solid brown;
  font-size: 35px;
  text-align: center; 
  justify-content: center;
}

#adicional{
  background: linear-gradient(to top, var(--gradiente));
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  
}
#Adicional h2{
  color: var(--chocoLight);
}

.Ad{
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;;
  
}

.chocoD {    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Architects Daughter';
  font-size: 25px;
  text-align: justify;
  border-radius: 1rem;
  width:100%;
  height:600px;
}

.chocoD p {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#sp1{
  display: none;
}

#sp2{
  display: flex;
}

#t1{
  display: none;
}

#t2{
  display: flex;
  color: var(--chocoLight);
  text-align: center;
}

.AdCajas {
display:none;

}

.AdCajas1{
  width: 100%;
  height: 100%;
  padding: 5px;
  /* background: linear-gradient(to top, var(--gradiente)); */
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 1rem;
}
.cajas1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cajita1{
  background:linear-gradient(var(--gradiente));
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 175px;
  border-radius: 1rem;
  gap: 60px;
}

.cajita2{
  background:linear-gradient(var(--gradiente));
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 175px;
  border-radius: 1rem;
  gap: 10px;
}

.cajita3{
  background:linear-gradient(var(--gradiente));
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 175px;
  border-radius: 1rem;
  gap: 30px;
}

.cajitas p {
color: darkred;
}


.imgCuad1 {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  align-items: center;
}


#contenido-contacto{
width: 100%;
display: flex;
justify-content: center;
}

.cuadroContacto{
background: linear-gradient(to top, var(--gradiente));
margin-top: 20px;
margin-bottom: 20px;
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
width: 100%;
height: 100%;
border-radius: 1rem;
justify-content: space-around;
}

.logCont{
display: flex;
width: 40px;
height: 40px;
border-radius: 1rem;
}

.mapa{
width:100%;
height: 345px; 
border-radius: 10px;

}

.info-contacto{
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
gap: 25px;
width: 50%;
}

.info-contacto h1{
margin-top: 0px;
font-size: 45px;
text-align: center;
font-family: 'Architects Daughter';
font-weight: 800;
color: var(--choscuro)
}

.info-contacto p{
color: black;
font-size: 15px;
font-family: 'Architects Daughter';
font-weight: bold;
}


.contacto{
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
justify-content: space-between;
}

.contacto :hover{
height: 20%;
font-size: 30px;
}

.cuadroMapa{
width: 300px;
padding: 20px;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
}


}
/* ############################################################################################################################################# */
@media (max-width: 400px) {

  header{
    position: sticky;
  }

  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }


  .carritoCont {
    position: absolute;
    top: 65px; 
    right: 0;
    padding: 50px 30px;
    background-color:rgba(104, 23, 3, 0.836);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    display: none;
    font-family: 'Architects Daughter';
  }
/* ============================== */

.marca{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
    background: linear-gradient( to bottom, var(--gradiente));
    margin-top: 100px;
    border-radius: 1rem;
}

@keyframes moverCaja {
  0% {
      transform: translateX(0);
  }
  50%{
    transform: translate(-410px);
  }
  100% {
      transform: translateX(410px);
  }
}

.marcaCursiva{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
    color: var(--chocoIntermedio);
    margin-top: 0px;
    font-size: 70px;
    font-family:'Sacramento' ;
    display: flex;
    justify-content: center;
    animation-name: moverCaja;
    animation-duration: 1s;          
    animation-iteration-count: 2;
    animation-direction: alternate;
}

main{
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
    display: flex;
    flex-wrap: wrap;

    color: black;

}

.cajaFlex{
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;

}

.back{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;

}

#descripcion{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
  height: 100%; 
}

.info{
  width: 100%;
  display: flex;
  align-items: center;

}

.info p{
  width: 100%;
  margin-top: auto;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
}


.choco-promocion{
  display: none;
}

.choco-promocion1{
  margin-top: 20px;
  font-family: 'Architects Daughter';
  font-weight: bold;
  width: 100%;
  background: linear-gradient(to top, var(--gradiente));
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

}

.choco-promocion-info1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.choco-promocion-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.choco-promocion-top1 h3 {
  font-weight: 600;
  font-size: 35px;
  white-space: nowrap;
}



.choco-promocion-bottom1 {
  width: 100%;
  align-items: center;
  text-align: center;
  /* display: flex; */
  font-size: 25px;
}

.choco-promocion-bottom1 span{
color: whitesmoke;
background-color: black;
font-size: 30px;
border-radius: 4px;
} 

.promo{
  /* width: 100%; */
  width: 300px;
  height: 300px;
  border-style:groove;
  border-color: brown;
  border-width: 10px;
  border-radius: 1rem;
}
.btn-comprar1{
  display: none;
}
.btn-comprar2{
  display: flex;
  color: greenyellow;
  background-color: var(--choscuro);
  width: 300px;
  padding: 8px 0px;
  border-radius: 10px;
  border: 2px solid brown;
  font-size: 30px;
  text-align: center; 
  justify-content: center;
}

#adicional{
  background: linear-gradient(to top, var(--gradiente));
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  
}
#Adicional h2{
  color: var(--chocoLight);
}

.Ad{
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;;
  
}

.chocoD {    
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Architects Daughter';
  font-size: 25px;
  text-align: center;
  border-radius: 1rem;
  width:100%;
  height:700px;
}

.chocoD p {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#sp1{
  display: none;
}

#sp2{
  display: flex;
}

#t1{
  display: none;
}

#t2{
  display: flex;
  text-align: center;;
  color: var(--chocoLight);
}

.AdCajas {
 display: none;

}

.AdCajas1{
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 1rem;
}
.cajas1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cajita1{
  background:linear-gradient(var(--gradiente));
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 175px;
  border-radius: 1rem;
  gap: 60px;
}

.cajita2{
  background:linear-gradient(var(--gradiente));
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 175px;
  border-radius: 1rem;
  gap: 10px;
}

.cajita3{
  background:linear-gradient(var(--gradiente));
  font-family: 'Architects Daughter';
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 175px;
  border-radius: 1rem;
  gap: 30px;
}

.cajitas p {
color: darkred;
}


.imgCuad1 {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  align-items: center;
}


#contenido-contacto{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
}

.cuadroContacto{
background: linear-gradient(to top, var(--gradiente));
margin-top: 20px;
margin-bottom: 20px;
display: flex;
flex-wrap: wrap;
align-items: center;
align-content: center;
width: 100%;
height:100%;
border-radius: 1rem;
justify-content: space-around;
}

.logCont{
display: flex;
width: 40px;
height: 40px;
border-radius: 1rem;
}

.mapa{
width: 100%;
height: 100%; 
border-radius: 10px;
}

.info-contacto{
display: flex;
flex-direction: column;
gap: 15px;
width: 50%;
}

.info-contacto h1{
margin-top: 0px;
font-size: 35px;
font-family: 'Architects Daughter';
font-weight: 800;
color: var(--choscuro)
}

.info-contacto p{
color: black;
font-size: 20px;
font-family: 'Architects Daughter';
font-weight: bold;
}


.contacto{
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
}

.contacto :hover{
height: 20%;
font-size: 30px;
}

.cuadroMapa{
width: 300px;
padding: 20px;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
}


}