@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Qwitcher+Grypen&family=Sacramento&display=swap');

    :root{
        --gradiente: rgb(71, 50, 50), rgba(209, 151, 151, 0.781); 
        --chocoGrad: rgba(105, 16, 16, 0.473), rgba(209, 151, 151, 0.452); 
        --chocoLight:  rgb(168, 27, 27);
        --choscuro: rgb(49, 9, 9);
        --colCard: rgba(189, 67, 67, 0.473), rgba(209, 23, 23, 0.452);
        --headFoot: rgba(228, 178, 105, 0.664);
    }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
        text-decoration: none;
        list-style-type: none;
    }

    body{
        background-image: url(/assets/imagenes/fondoChocolates.jpg) ;
        background-size: cover;   
    }

    header{
        background-color:var(--headFoot);
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0px 30px 0px 30px;
        position: fixed;
        /* position: sticky; */
        top: 0;
    }

    .logo{
        height: 100%;
    } 

    .logoCarrito{
        height: 70%;
    }

    .navbar,
    .navbar-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        gap: 8px;
    }

    .navbar-list{
        gap: 150px;
    }

    .navbar-list a{
        color: rgb(255, 0, 0);
        font-family: 'Architects Daughter';
        font-size: 20px;
        font-weight: bold;

    }

    .navbar-list a:hover{
        text-shadow:2px 8px 8px rgb(77, 29, 2);
        
    }

    .cajaFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 800px 800px;
    }

    .back{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to top, var(--gradiente));
        width:900px;
        height: 450px; 
        border-radius: 1rem;
        margin-top: 20px;
    }

    .marca{
        background: linear-gradient( to bottom, var(--gradiente));
        margin-top: 100px;
        width: 900px;
        border-radius: 1rem;
    }

    .marca p{
        color: black;
        margin-top: 0px;
        font-size: 150px;
        font-family:'Sacramento' ;
        display: flex;
        justify-content: center;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center  ;
        color: black;
        width: 100%;
    }

    #contenido{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }

    .info h1{
        font-size: 48px;
        font-family: 'Architects Daughter';
        width: 80%;
        min-width: 500px;
        font-weight: 800;
        color: var(--chocoLight)
    }

    .info p{
        color: var(--choscuro);
        font-size: 20px;
        font-family: 'Architects Daughter';
    }

    .info p > span{
        font-weight: 800;
    }

    .info a {
        color: greenyellow;
        background-color: var(--choscuro);
        width: 120px;
        padding: 8px 0px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
    }

    .choco-promocion {
        font-family: 'Architects Daughter';
        font-weight: bold;
        width: 300px;
        background: linear-gradient(to top, var(--colCard));
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .choco-promocion-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .choco-promocion-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    .choco-promocion-top h3 {
        font-weight: 600;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .choco-promocion-top span {
        background-color: gray;
        text-align: center;
        width: 50px;
        padding: 3px 0px;
        font-size: 14px;
        border-radius: 10px;
    }

    .choco-promocion-bottom {
        display: flex;
        justify-content: space-between;
    }

    .promo{
        border-style:groove;
        border-color: brown;
        border-width: 10px;
        border-radius: 1rem;
    }

    .choco-promocion-creador {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .choco-promocion-creador img {
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }

    .creador-info p:first-child,
    .choco-promocion-precio p {
        
        font-size: 12px;
        font-weight: 300;
    }

    .choco-promocion-precio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .choco-promocion-precio span,
    .creador-info p:last-child {
        font-size: 14px;
    }

    .choco-promocion-precio span {
        font-weight: 700;
    }

    .back2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #Adicional{
        background: linear-gradient(to top, var(--gradiente));
        width: 900px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        border-radius: 1rem;
        
    }

    #Adicional h2{
        color: var(--chocoLight);
    }

    .Ad{
        justify-content: center;
        align-items: center;
        border-radius: 1rem;;
        
    }

    .chocoD {    
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Architects Daughter';
        font-size: 20px;
        border-radius: 1rem;
        width:900px;
        height:325px;
    }

    .chocoD p {
        font-weight: bold;
        width: 850px;
    }

    .AdCajas{
        background: linear-gradient(to top, var(--gradiente));
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: 900px;
        height: 250px;
        border-radius: 1rem;

    }

    .cajas {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        width: 900px;
    }

    .cajitas{
        background:linear-gradient(var(--chocoGrad));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        border-radius: 1rem;
    }

    .cajitas :hover{
        background:linear-gradient(var(--chocoGrad));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 210px;
        border-radius: 1rem;
        cursor: pointer;
        
    }

    .imgCuad {
        width: 150px;
        height: 150px;
        border-radius: 1rem;
    }

    .segInst{
        background-color: var(--headFoot);
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 300px;
        margin-bottom: 20px;
        gap: 20px;
    }

    .segInst p {
        display: flex;
        color: red;
        font-family: 'Architects Daughter';
        font-size: 30px;
        font-weight: bold;
    }

    .logInsta{
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 1rem;
        cursor: pointer;
    }
