/* https://github.com/Pabloambar/chocolicius_landing.git */


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Qwitcher+Grypen&family=Sacramento&display=swap');

    :root{
        --gradiente: rgb(71, 50, 50), rgba(209, 151, 151, 0.781); 
        --chocoGrad: rgba(105, 16, 16, 0.473), rgba(209, 151, 151, 0.452); 
        --chocoLight:  rgb(168, 27, 27);
        --chocoIntermedio: rgb(119, 33, 17);
        --choscuro: rgb(49, 9, 9);
        --colCard: rgba(189, 67, 67, 0.473), rgba(209, 23, 23, 0.452);
        --headFoot: rgba(228, 178, 105, 0.664);
        --background: #02050e;
        --primary: #1e50ff;
        --secondary: #272d37;
        --btn-bg: #050d26;
        --bg-azul-10: #e9eeff;
        --bg-white: #fff;
        --bg-electric: #f0fbff;
        --nav-bg: #0f1525;
        --text-gray: #adb9c7;
        --text-white: #f3f4f6;
        --fire: #ff6d00;
        --electric: #64d3ff;
    }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
        text-decoration: none;
        list-style-type: none;
    }

    body{
      background-image: url(/assets/imagenes/fondoChocolates.jpg);
      background-size: cover;
      background-attachment: fixed; 
    }

    header{
        background: linear-gradient(to top, var(--gradiente));
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0px 30px 0px 30px;
        /* position: relative; */
        /* position: fixed;
        position: absolute;
        position: static; */
        position: sticky;
        top: 0;
    }

    .logo{
        height: 100%;
    } 

    .logoCarrito{
        height: 70%;
    }

    .navbar,
    .navbar-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        gap: 200px;
    }

    .navbar-list{
        gap: 150px;
    }

    .navbar-list a{
        color: var(--choscuro);
        font-family: 'Architects Daughter';
        font-size: 20px;
        font-weight: bold;

    }

    .navbar-list a:hover{
        text-shadow:2px 8px 8px rgb(77, 29, 2);
        
    }

          /*Carrito*/
      
          #cart-toggle,
          #menu-toggle,
          .menu-label {
            display: none;
          }
          
          #cart-toggle:checked + .carritoCont {
            display: flex;
          }
          

    .carrito {
        height: 36px;
        cursor: pointer;
      }
      
      .carritoCont {
        position: absolute;
        top: 65px; 
        right: 0;
        padding: 50px 30px;
        background-color:rgba(104, 23, 3, 0.836);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: calc(100vh - 65px);
        overflow-y: scroll;
        z-index: 2;
        display: none;
        font-family: 'Architects Daughter';
      }
      
      .carritoCont::-webkit-scrollbar {
        display: none;
      }
      
      .carritoCont h2 {
        color: var(--text-white);
        font-size: 20px;
        font-weight: 600;
      }
      
      .cart-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border: 1px solid var(--electric);
        border-radius: 10px;
        cursor: pointer;
      }
      
      .cart-item img {
        height: 65px;
        width: 65px;
      }
      
      .item-title {
        color: var(--text-white);
        font-weight: 600;
        font-size: 14px;
      }
      
      .item-bid {
        color: var(--text-gray);
        font-size: 12px;
        font-weight: 300;
      }
      
      .item-price {
        background-color: #f3f4f6;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        font-size: 20px;
        font-weight: 800;
      }
      
      .item-handler {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      
      .quantity-handler {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 8px;
        border-radius: 5px;
        color: var(--text-white);
        font-weight: 400;
      }
      
      .up {
        border: 1px solid var(--electric);
      }
      
      .down {
        background-color: var(--secondary);
        border: 1px solid var(--electric);
      }
      
      .item-quantity {
        color: var(--text-gray);
      }
      
      .divider {
        margin-top: 20px;
        border: 0.5px solid var(--electric);
      }
      
      .cart-total {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      
      .cart-total p {
        color: var(--electric);
        font-weight: 700;
      }
      
      .cart-total span {
        background-color: #f3f4f6 ;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        font-weight: 1000;
        font-size: 20px;
      }

      .btn-comprar1{
          color: greenyellow;
          background-color: var(--choscuro);
          width: 120px;
          padding: 8px 0px;
          border-radius: 10px;
          border: 2px solid brown;
          font-size: 20px;
          text-align: center; 
      }


      .btn-comprar1:hover {
        width: 130px;
        height: 45px;
      }

      .btn-comprar2{
        display: none;
    }



    .cajaFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 800px 800px;
    }

    .back{
      max-width: 1200px;
      display: flex;
      justify-content: center;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to top, var(--gradiente));
        width:900px;
        height: 450px; 
        border-radius: 1rem;
        margin-top: 20px; */
    }

    .marca{
        background: linear-gradient( to bottom, var(--gradiente));
        margin-top: 100px;
        width: 900px;
        border-radius: 1rem;
    }

    @keyframes moverCaja {
      0% {
          transform: translateX(0);
      }
      50%{
        transform: translate(-710px);
      }
      100% {
          transform: translateX(710px);
      }
  }

    .marcaCursiva{
        color: var(--chocoIntermedio);
        margin-top: 0px;
        font-size: 150px;
        font-family:'Sacramento' ;
        display: flex;
        justify-content: center;
        animation-name: moverCaja;
        animation-duration: 1.3s;          
        animation-iteration-count: 2;
        animation-direction: alternate;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center  ;
        color: black;
        width: 100%;
    }

    #descripcion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to top, var(--gradiente));
      width:900px;
      height: 450px; 
      border-radius: 1rem;
      margin-top: 20px;
        /* max-width: 1200px;
        display: flex;
        justify-content: center; */
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }

    .info h1{
        font-size: 48px;
        font-family: 'Architects Daughter';
        width: 80%;
        min-width: 500px;
        font-weight: 800;
        color: var(--chocoLight)
    }

    .info p{
        color: black;
        font-size: 20px;
        font-family: 'Architects Daughter';
    }

    .choco-promocion {
        font-family: 'Architects Daughter';
        font-weight: bold;
        width: 300px;
        background: linear-gradient(to top, var(--colCard));
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .choco-promocion-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .choco-promocion-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    .choco-promocion-top h3 {
        font-weight: 600;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .choco-promocion-bottom {
        text-align: center;
        font-size: 20px;
    }

    .choco-promocion-bottom span{
      /* color: rgb(237, 253, 15); */
      color: whitesmoke;
      background-color: black;
      font-size: 25px;
      border-radius: 4px;
    }    

     .promo{
        border-style:groove;
        border-color: brown;
        border-width: 10px;
        border-radius: 1rem;
    }

    .choco-promocion1{
      display: none;
    }
   
    .back2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #adicional{
        background: linear-gradient(to top, var(--gradiente));
        width: 900px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        border-radius: 1rem;
        
    }

   

    .Ad{
        justify-content: center;
        align-items: center;
        border-radius: 1rem;;
        
    }

    .chocoD {    
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Architects Daughter';
        font-size: 20px;
        border-radius: 1rem;
        width:900px;
        height:325px;
    }

    .chocoD h2 {
      color: var(--chocoLight);
    }

    #t2{
      display: none;
    }

    .chocoD p {
        font-weight: bold;
        width: 850px;
        text-align: center;
    }

    #sp2{
      display: none;
    }

    .AdCajas{
        background: linear-gradient(to top, var(--gradiente));
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: 900px;
        height: 250px;
        border-radius: 1rem;

    }

    .AdCajas1{
      display: none;
    }

    .cajas {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        width: 900px;
         
    }

    .cajitas{
        background:linear-gradient(var(--chocoGrad));
        font-family: 'Architects Daughter';
        font-size: 15px;
        font-weight: bold;
        display: flex;
        flex-direction: column;;
        align-items: center;;
        justify-content: center;
        width: 200px;
        height: 200px;
        border-radius: 1rem;
    }

    .cajitas p {
      color: darkred;
    }

    .cajitas:hover{
        background:linear-gradient(var(--chocoGrad));
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 230px;
        border-radius: 1rem;
        cursor: pointer;
        
    }

    .imgCuad {
        width: 150px;
        height: 150px;
        border-radius: 1rem;
    }

   
#contenido-contacto{
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.cuadroContacto{
  background: linear-gradient(to top, var(--gradiente));
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  width: 900px;
  height: 400px;
  border-radius: 1rem;
  justify-content: space-around;
}

.logCont{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 1rem;
}

.mapa{
width: 300px;
height: 345px; 
border-radius: 10px;
}

.info-contacto{
display: flex;
flex-direction: column;
gap: 15px;
width: 50%;
}

.info-contacto h1{
margin-top: 0px;
font-size: 48px;
font-family: 'Architects Daughter';
font-weight: 800;
color: var(--choscuro)
}

.info-contacto p{
color: black;
font-size: 20px;
font-family: 'Architects Daughter';
font-weight: bold;
}


.contacto{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.contacto :hover{
  height: 20%;
  font-size: 30px;
}

.cuadroMapa{
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
